.Advertise {
  gap: 1rem;
}

.ads {
  display: flex;
  flex-direction: column;
}
.ads > h1 {
  color: var(--orange);
  font-family: var(--style);
  font-weight: bolder;
}
.adstype {
  display: flex;
  gap: 0.5rem;
}
.adstype > input {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  width: 45%;
  border: none;
  outline: none;
  height: 2.5rem;
}
.equ {
  margin-top: 1rem;
}
.gappp {
  height: 2.5rem;
}
.adsbutton {
  margin-top: -2rem;
  margin-left: 6.5rem;
  height: 3rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 600px) and (min-width: 200px) {
  .Advertise {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  .adstype {
    display: flex;
    gap: 0.5rem;
  }
  .adstype > input {
    border-radius: 10px;
    padding-left: 2px;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    width: 55%;
    border: none;
    outline: none;
    height: 2.5rem;
  }
  .equ {
    margin-top: 0.5rem;
  }
  .gappp {
    height: 1.5rem;
  }
  .adsbutton {
    margin-top: -2rem;
    margin-left: 2.5rem;
    height: 2rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: 550px) and (min-width: 500px) {
    .adsbutton {
    margin-top: -2rem;
    margin-left: 3.5rem;
    height: 2rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: 300px) and (min-width: 200px) {
  .adstype > input {
    border-radius: 5px;
    padding-left: 2px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 65%;
    border: none;
    outline: none;
    height: 2rem;
  }
  .equ {
    margin-top: 0.5rem;
  }
  .gappp {
    height: 1.5rem;
  }
  .adsbutton {
    margin-top: -1rem;
    margin-left: 2rem;
    height: 2rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    .Advertise {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-bottom: 1rem;
  }
  .adstype > input {
    border-radius: 5px;
    padding-left: 2px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 65%;
    border: none;
    outline: none;
    height: 2rem;
  }
  .equ {
    margin-top: 0.5rem;
  }
  .gappp {
    height: 1.5rem;
  }
  .adsbutton {
    margin-top: -1rem;
    margin-left: 3.5rem;
    height: 2rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
